<style>
  .thumb-wrapper {
    position: relative;
    margin: 15px 0;
    display: block;
    max-width: 100%;
    overflow: hidden;
  }

  .thumb-wrapper img {
    max-width: 100%;
    width: auto;
  }

  .entry-content img {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  img {
    height: auto;
  }

  /* .single .speakers  */
  h2 {
    margin-bottom: 0px;
    letter-spacing: 0;
    font-weight: 400;
    text-transform: uppercase;
  }
</style>

<% current_page.data.title = speaker.name + " @ DevConf 2018" %>

<%= partial "header" %>

<div class="container-fluid">
  <div class="content">
    <main role="main">
      <div class="container speakers-container">
        <article id="page-3727" class="post-3727 speakers type-speakers status-publish has-post-thumbnail hentry speaker_type-general-speakers speaker_type-other">
          <div class="entry-content">
            <div class="col-md-offset-2 col-md-8 speaker">
              <div class="thumb-wrapper post-thumbnail">
                <%= tag :img, :src => '/images/speakers/' + speaker.tag + '.png', :alt => speaker.name %>
              </div>
              <h2><%= speaker.name %></h2>
              <p class="text-alt"><%= speaker.company %></p>
              <ul class="speaker-socials">
                <% if speaker.social.twitter != nil %>
                  <li><a href="<%= twitter_link speaker.social.twitter %>"><span class="fa fa-twitter"></span></a></li>
                <% end %>
                <% if speaker.social.linkedin != nil %>
                  <li><a href="<%= linkedin_link speaker.social.linkedin %>"><span class="fa fa-linkedin"></span></a></li>
                <% end %>
              </ul>
              <%= speaker.description %>
              <hr/>
              <div style="text-align: left;">
                <% data.sessions.items.select{|session| session.speaker_tag.include? speaker.tag}.each do |session| %>
                  <div>
                    <h7>
                      <span class="highlight">Day <%= session.day %>, <%= session.time %> - </span>
                      <%= session.title %>
                    </h7>
                    <p class="small">
                      <%= session.description %>
                    </p>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </article>
      </div>
    </main>
  </div>
</div>

<% content_for :metahead do %>
  <meta name="description" content="<%= speaker.description %>">
  <meta name="keywords" content="<%= speaker.name%>, devconf, software, developers, conference">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@devconfpl" />
  <meta name="twitter:creator" content="@devconfpl" />
  <meta prefix="og: http://ogp.me/ns#" property="og:url" content="http://devconf.pl/speakers/<%= speaker.tag%>" />
  <meta prefix="og: http://ogp.me/ns#" property="og:type" content="website" />
  <meta prefix="og: http://ogp.me/ns#" property="og:title" content="<%= speaker.name %> @ DevConf 2018" />
  <meta prefix="og: http://ogp.me/ns#" property="og:description" content="<%= speaker.description %>" />
  <meta prefix="og: http://ogp.me/ns#" property="og:image" content="http://devconf.pl/images/speakers/<%= speaker.tag %>.png" />
  <meta property="fb:app_id" content="230234777452193" />
<% end %>
